.section {
    max-width: 1396px;
    width: 85%;
    margin-inline: auto;

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .caption {
        text-align: center;
        font-size: 85%;
        margin-bottom: 100px;
    }
}

.form {
    max-width: 480px;
    margin-inline: auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

input[type="submit"] {
    display: block;
    width: 50%;
    padding: 1em;
    border: none;
    margin: 20px auto 0;
    background-color: #ddd4ca;
}

textarea {
    height: 100px;
}
