.section {
    max-width: 1396px;
    width: 85%;
    margin-inline: auto;
}

.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 120px;
    position: relative;
    padding: 40px 0 80px 0;
}

.imgbox {
    flex-basis: 35%;
}

.text {
    flex-basis: 55%;
}

.card::before {
    content: "";
    display: block;
    background-color: #ddd;
    width: 85%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.card:nth-of-type(1) .text {
    padding-right: 15%;
}

.card:nth-of-type(2) .text {
    padding-left: 15%;
}

.card:nth-of-type(1)::before {
    right: 0;
    top: 0;
}

.card:nth-of-type(2)::before {
    left: 0;
    top: 0;
}
