.aside {
    background-color: var(--subColor);
}

.inner {
    max-width: 1396px;
    width: 85%;
    margin-inline: auto;
    display: flex;
}

.section {
    flex: 1;
    padding-bottom: 130px;
}

.snsList {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    font-size: 32px;
}

.snsList li {
    list-style: none;
}

.snsList li img {
    width: 24px;
    height: 24px;
}

.snsList li:not(:last-child) {
    border-right: 1px solid var(--textColor);
}

.snsLink {
    width: 148px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner .section:first-child::before {
    content: "";
    width: 1px;
    height: 80%;
    background-color: var(--textColor);
    position: absolute;
    right: 0;
    top: 10%;
}

.test {
    content: "";
    display: block;
    border: solid #333;
    border-width: 0 2px 2px 0;
    width: 1em;
    height: 0.5em;
    position: absolute;
    right: -1.2em;
    top: 20%;
    transform: skewX(45deg);
    transition: 0.4s;
}
