.shopListWrapper {
    max-width: 1396px;
    width: 85%;
    margin-inline: auto;
}

.shopListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.shopListHeading {
    font-family: "Crimson Pro", serif;
    font-style: italic;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.shopListItemWrap {
    border: 1px solid var(--borderColor);
    padding: 40px 10% 10%;
}

.shopListNameHeadings {
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
    margin: 0;
}

.shopListInfo div {
    display: flex;
    column-gap: 10px;
}

.shopListInfo dt,
.shopListInfo dd {
    margin: 0;
}

.shopListInfo dt {
    flex-basis: 30%;
    text-align: right;
    height: 3.6em;
}

.googleMapLink {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ddd4ca;
    height: 50px;
    position: relative;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
}

.googleMapLink::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #703b1f;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.googleMapLink:hover {
    color: var(--textColorButtonHover);
}

.googleMapLink span {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 10;
}

.googleMapLink:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
