.footer {
    background-color: #707070;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    padding: 80px 0;
}

.footerNav {
    line-height: 5;
    list-style: none;
    padding: 0;
}

.copyright img {
    width: 235px;
    margin-bottom: 10px;
}
