.firstView {
    position: relative;
    aspect-ratio: 16 / 8;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 37.5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.scroll {
    position: absolute;
    left: 5.2%;
    bottom: 200px;
    color: #fff;
    transform: rotate(90deg);
}

.scroll:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 120%;
    top: 50%;
    transform-origin: left;
    animation: scroll 1.5s ease-in infinite;
}

@keyframes scroll {
    0% {
        transform: scaleX(0);
    }
    90% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
