:root {
    font-family: "Crimson Pro", "Noto Serif JP", sans-serif;
    line-height: 1.8;
    --textColor: #707070;
    --textColorWhite: #fff;
    --textColorButton: #333;
    --textColorButtonHover: #fff;
    --subColor: #ddd4ca;
    --footerBgColor: #707070;
    --buttonHoverBgColor: #703b1f;
    --borderColor: #333;
}

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
    color: var(--textColor);
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}
