.newsHeading {
    font-family: "Crimson Pro", serif;
    font-style: italic;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.newsList {
    max-width: 1396px;
    width: 85%;
    margin-inline: auto;
}

.newsList div {
    border-bottom: 1px solid var(--textColor);
    display: flex;
    gap: 1rem;
    padding: 40px 10%;
}

.newsList div dt {
    width: 5em;
    white-space: nowrap;
}

.newsList div dd {
    margin: 0;
    padding: 0;
}

.newsList div:first-child {
    border-top: 1px solid var(--textColor);
}
